<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Paseos Ecologicos</title>
    <meta charset="utf-8">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("Content", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page1">
    <div class="bg1">
        <div class="bg2">
            <div class="main">
                <!-- header -->
                <header>
                               <div class="float-left">
                   @* <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")*@
                    <div class="logo text-warning">
                        <span class="P">Paseos</span>
                        <span class="E">Ecologicos</span>
                    </div>    
                    @*</p>*@
                </div>
                <style>
               .logo {
                   position: relative;

               }
               .logo .P, .logo .E {
                   float: left;
                   font-size: 35px;

               }
               .logo .P {
                    font-family: fantasy;
                    /*color: rgba(0, 173, 49, 0.44);*/
               }
                .logo .E {
                /*color: rgba(9, 117, 0, 0.57);*/
                }
                </style>
                    @*<h1 id="logo">@Html.ActionLink("Paseos Ecologicos", "Index", "Home")</h1>*@
                </header>
                <div class="box">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Sobre nosostros", "About", "Home")</li>
                            <li>@Html.ActionLink("Servicios", "Servicios", "Home")</li>
                            <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                        </ul>
                    </nav>
                    <!-- header end -->
                    <!-- content -->
                    <article id="content">
                        @RenderSection("featured", required: false)
                        @RenderBody()
                    </article>
                    <!--content end-->
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="main">
            <p>&copy; @DateTime.Now.Year - Paseos Ecologicos | Por: Leomaris Reyes, Juan Acosta y Anthony Del Rosario.</p>
            <!-- {%FOOTER_LINK} -->
        </div>
    </footer>
    <!-- footer end -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    <script type="text/javascript"> Cufon.now(); </script>
    <script>
        $(document).ready(function () {
            $('.kwicks').kwicks({
                max: 500,
                spacing: 0,
                event: 'mouseover'
            });
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
